* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    font-family: "Open-sans", sans-serif;
}
.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}
aside {
    width: auto;
    position: relative;
    height: 100vh;
    background: #1d2d5b;
    z-index: 700;
}
aside * {
    z-index: 700;
}
aside a {
    text-decoration: none;
    z-index: 700;
    font-weight: 600;
    color: #ececf1;
}
aside .title {
    display: flex;
    align-items: center;
    height: 70px;
    background: #ececf1;
    gap: 10px;
}
aside .title p {
    font-size: 14px;
}
aside .title img {
    width: 40px;
    height: 40px;
    position: relative;
}
aside .dashboard {
    position: relative;
    display: flex;
    gap: 10px;
    border-bottom: 1px solid rgba(192, 192, 192, 0.668);
}
aside .talaba ul {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}
.talaba ul li {
    color: #ececf1;
}
.talaba ul li i {
    margin-right: 10px;
}
section {
    position: relative;
    width: 100%;
    overflow: auto;
}
header {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ececf1;
    padding: 7px 5px;
    color: #1d2d5b;
    height: 70px;
}
header .left {
    position: relative;
}
header .left i, .right i {
    font-weight: 100;
    font-size: 24px;
    cursor: pointer;
}
.right {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 12px;
    gap: 30px;
}
.right .video i {
    font-size: 24px;
}
.right .profile i {
    border-radius: 50%;
    font-size: 24px;
}
.date,  .time {
    font-weight: 700;
}
.title-server {
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 1.6px;
}
section main {
    position: relative;
    height: calc(100vh - 140px);
    width: 100%;
    background: #f1f5f8;
}
main .wrapper {
    position: relative;
    padding: 15px;
}
main .wrapper .header_subject {
    position: relative;
    display: flex;
    width: 100%;
    padding: 15px 0;
    justify-content: space-between;
}
main .wrapper .header_subject h3 {
    font-size: 22px;
    font-weight: 600;
    color: #1d2d5b;
}
main .wrapper .header_subject select {
    position: relative;
    font-size: 16px;
    padding: 10px 100px 10px 10px;
}
main .wrapper .display_subjects {
    background: #ffffff;
    padding: 15px 20px;
    position: relative;
}
main .wrapper .dataTable .lit {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 25px;
    border-bottom: 1.3px solid silver;
}
main .dataTable .lit select {
    position: relative;
    padding: 10px 10px 10px 10px;
}
main .dataTable .lit input {
    padding: 5px 12px;
    position: relative;
    border: 1px solid #c1c7cd;
    color: #646464;
    height: 40px;
}
main table.table {
    position: relative;
    width: 100%;
    padding: 10px 0;
}
table a {
    text-decoration: none;
    color: #1d2d5b;
}
table tbody {
    position: relative;
    width: 100%;
}
table  tr {
    padding: 15px;
    position: relative;
    width: 100%;
    border-bottom: 1.3px solid silver;
    display: grid;
}
 td, th {
    position: relative;
    padding: 10px;
    display: flex;
}
td button {
    background: #1d2d5b;
    color: #f1f5f8;
    position: relative;
}
.ariza {
    position: relative;
    width: 100%;
    padding: 20px;
}
.ariza #addAriza {
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    background: forestgreen;
    border-radius: 5px;
    border: 1.3px solid forestgreen;
    color: #ffffff;
    font-weight: 700;
    cursor: pointer;
}
#addAriza #plus{
    position: relative;
    font-weight: 900;
    font-size: 22px;
}
.zayavka { 
    z-index: 62;
    position: absolute;
    padding: 20px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background: #FFFFFF;
    border: 1px solid silver;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    flex-direction: column;
}
.zayavka .buttons {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
}
.zayavka .buttons button {
    position: relative;
    padding: 5px 8px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}
.zayavka .buttons button:first-child {
    background: #1d2d5b;
    color: #FFFFFF;
}
.zayavka .buttons button:last-child {
    color: #1d2d5b;
    background: #FFFFFF;
    border: 1.3px solid #1d2d5b;
}

.zayavka select {
    position: relative;
    width: 100%;
    padding: 5px 8px;
    cursor: pointer;
}
.zayavka select option {
    position: relative;
    cursor: pointer;
    padding: 5px;
    font-size: 14px;
    font-weight: 600;
}


.profile-box {
    position: absolute;
    width: 170px;
    height: 120px;
    display: flex;
    align-items: flex-start;
    align-content: space-between;
    justify-content: center;
    flex-direction: column;
    padding: 0 0 0 8px;
    top: 60px;
    right: 25px;
    gap: 10px;
    z-index: 22;
    background: #f1f5f8;
    transform: translateY(-200px);
}
.profile-box div {
    width: 100%;
    height: 30%;
}
.profile-box div i {
    cursor: pointer;
}
.profile-box .username {
    background: #1d2d5b;
    color: #ffffff;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-box.hidden {
    transition: 0.9s ease;
    transform: translateY(0);
}
.clr {
    color: red;
}

@media screen and (min-width:1048px){
    aside a {
        font-size: 16px;
    }
    aside .title {
        width: 280px;
    }
    aside .dashboard {
        padding: 20px 40px;
    }
    aside .talaba {
        padding: 9px 40px;
    }
    aside .talaba ul {
        margin-top: 30px;
    }
    

    aside.width {
        width: 75px;
        transition: width 0.9s ease;
    }
    aside.width .talaba {
        padding: 9px 30px;
        transition: 0.9s ease;
    }
    aside.width li {
        font-size: 18px;
        transition: 0.9s ease;
    }
    aside.width .dashboard {
        padding: 20px 25px;
        transition: 0.9s ease;
    }
    aside.width .dashboard i {
        font-size: 26px;
        transition: 0.9s ease;
    }
    aside span.none {
        display: none;
        transition: 0.9s ease;
    }
    aside.width .title {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.9s ease;
    }
    aside .fa-remove {
        display: none;
    }

    main .header_subject {
        flex-direction: row;
    }
    main .lit {
        flex-direction: row;
    }
    .lit label {
        font-size: 16px;
    }

    table tr {
        grid-template-columns: 15% 40% 30% 15%;
        align-items: center;
        justify-content: space-between;
    }
    td, th {
        
    align-items: center;
    justify-content: flex-start;
    }
    td, th {
        font-size: 18px;
        text-align: center;
    }
    td button {
        padding: 7px 13px;
        border-radius: 8px;
        border: 1.3px solid silver;
        font-weight: 400;
    }
    .zayavka {
        width: 700px;
    }
}
@media screen and (max-width:1047px){
    aside a {
        font-size: 16px;
    }
    aside .title {
        width: 280px;
    }
    aside .dashboard {
        padding: 20px 40px;
    }
    aside .talaba {
        padding: 9px 40px;
    }
    aside .talaba ul {
        margin-top: 30px;
    }
    main .header_subject {
        flex-direction: row;
    }
    main .wrapper {
        padding: 15px;
    }
    table tr {
        grid-template-columns: 20% 8% 36% 12% 14% 10%;
        align-items: center;
        justify-content: space-between;
    }

    td, th {
        align-items: center;
        justify-content: flex-start;
    }
    td, th {
        font-size: 12px;
    }
    aside.width {
        width: 75px;
        transition: 0.9s ease;
    }
    aside.width .talaba {
        padding: 9px 30px;
        transition: 0.9s ease;
    }
    aside.width li {
        font-size: 26px;
        transition: 0.9s ease;
    }
    aside.width .dashboard {
        padding: 20px 25px;
        transition: 0.9s ease;
    }
    aside.width .dashboard i {
        font-size: 26px;
        transition: 0.9s ease;
    }
    aside span.none {
        display: none;
        transition: 0.9s ease;
    }
    aside.width .title {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.9s ease;
    }
    td button {
        padding: 6px 11px;
        border-radius: 8px;
        border: 1.3px solid silver;
        font-weight: 400;
    }
    td p {
        width: 70%;
        text-align: end;
        font-size: 16px;
    }
    main .lit {
        flex-direction: row;
    }
    .lit label {
        font-size: 16px;
    }
    .zayavka {
        width: 700px;
    }
   
}
@media screen and (max-width:992px){
    aside a {
        font-size: 16px;
    }
    aside .title {
        width: 280px;
        background: #1d2d5b;
    }
    aside .title p {
        color: #ffffff;
    }
    aside .dashboard {
        padding: 20px 40px;
    }
    aside .talaba {
        padding: 9px 40px;
    }
    aside .talaba ul {
        margin-top: 30px;
    }
    main .wrapper {
        padding: 15px;
    }
    aside {
        position: fixed;
        z-index: 15;
        transition: 0.9s;
        transform: translateX(-280px);
    }
    aside.hide {
        position: fixed;
        z-index: 15;
        transform: translateX(0);
        transition: 0.9s ease;
        /* display: block; */
    }
    aside .fa-remove {
        display: block;
        color: #ffffffac;
        font-size: 24px;
        font-weight: 200;
        position: absolute;
        right: 25px;
    }
    aside.screen {
        transform: translateX(-280px);
        transition: 0.9s ease;    
    }
    main .header_subject {
        flex-direction: column;
        gap: 15px;
    }

    main .lit {
        padding-top: 25px;
        flex-direction: column;
        gap: 15px;
    }
    .lit label {
        font-size: 16px;
    }
    table thead tr {
        display: none;
    }
    table tr {
        
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: 100%;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }
    tr td {
        position: relative;
        align-items: center;
        justify-content: flex-end;
        font-size: 14px;
        width: 100%;
    }
    td p {
        width: 70%;
        text-align: end;
        
    }
    td::before {
        position: relative;
        content: attr(data-label);
        width: 100%;
    }
    td button {
        padding: 5px 8px;
        border-radius: 8px;
        border: 1.3px solid silver;
        font-weight: 400;
    }
    .zayavka {
        width: 320px;
    }
    

    
}


